<!-- PROFILE WRAPPER START -->
<div class="profile-wrapper" th:fragment="profile-wrapper">
    <div class="header-profile">
      <div class="container">
        <div class="inner-header-profile d-flex justify-content-between">
          <div class="header-main-content d-flex flex-column">
            <span class="greetings-text">Hi, <span class="emphasis-text">[${#httpServletRequest.remoteUser}]</span></span>
            <span class="info-text">Selamat Datang di Halaman Profil Anda.</span>
          </div>
          <div class="header-nav">
            <a href="logout" class="logout-button btn btn-danger">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="body-profile">
      <div class="container">
        <div class="box-info area-informasi-dasar">
          <div class="header-box-info d-flex justify-content-between align-items-center">
            <h6 class="info-title">Informasi Dasar</h6>
            <div class="info-action-wrapper">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-informasi-dasar">Edit</button>
            </div>
          </div>
          <div class="body-box-info">
            <table>
              <tbody>
                <tr>
                  <td class="field-name">Nama</td>
                  <td class="field-value">Rietts Andreas Ruff</td>
                </tr>
                <tr>
                  <td class="field-name">Email</td>
                  <td class="field-value">riettsruff@gmail.com</td>
                </tr>
                <tr>
                  <td class="field-name">Jenis Kelamin</td>
                  <td class="field-value">Laki-laki</td>
                </tr>
                <tr>
                  <td class="field-name">Tanggal Lahir</td>
                  <td class="field-value">05-12-2000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-info area-pekerjaan-saat-ini">
          <div class="header-box-info d-flex justify-content-between align-items-center">
            <h6 class="info-title">Pekerjaan Saat Ini</h6>
            <div class="info-action-wrapper">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-pekerjaan-saat-ini">Edit</button>
            </div>
          </div>
          <div class="body-box-info">
            <table>
              <tbody>
                <tr>
                  <td class="field-name">Jabatan</td>
                  <td class="field-value">Mahasiswa</td>
                </tr>
                <tr>
                  <td class="field-name">Instansi</td>
                  <td class="field-value">Universitas Kristen Satya Wacana</td>
                </tr>
                <tr>
                  <td class="field-name">Website</td>
                  <td class="field-value">https://uksw.edu</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-info area-pendidikan">
          <div class="header-box-info d-flex justify-content-between align-items-center">
            <h6 class="info-title">Pendidikan</h6>
            <div class="info-action-wrapper">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-pendidikan">Edit</button>
            </div>
          </div>
          <div class="body-box-info">
            <table>
              <tbody>
                <tr>
                  <td class="field-name">Tingkat</td>
                  <td class="field-value">Strata 1</td>
                </tr>
                <tr>
                  <td class="field-name">Instansi</td>
                  <td class="field-value">Universitas Kristen Satya Wacana</td>
                </tr>
                <tr>
                  <td class="field-name">Jurusan</td>
                  <td class="field-value">Teknik Informatika</td>
                </tr>
                <tr>
                  <td class="field-name">Status</td>
                  <td class="field-value">Belum Lulus</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-info area-alamat">
          <div class="header-box-info d-flex justify-content-between align-items-center">
            <h6 class="info-title">Alamat</h6>
            <div class="info-action-wrapper">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-alamat">Edit</button>
            </div>
          </div>
          <div class="body-box-info">
            <table>
              <tbody>
                <tr>
                  <td class="field-name">Provinsi</td>
                  <td class="field-value">Jawa Tengah</td>
                </tr>
                <tr>
                  <td class="field-name">Kota</td>
                  <td class="field-value">Salatiga</td>
                </tr>
                <tr>
                  <td class="field-name">Nama Jalan 1</td>
                  <td class="field-value">Jl. Turen 1 No.86 M</td>
                </tr>
                <tr>
                  <td class="field-name">Nama Jalan 2</td>
                  <td class="field-value">-</td>
                </tr>
                <tr>
                  <td class="field-name">Kode Pos</td>
                  <td class="field-value">50714</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="box-info area-kontak">
          <div class="header-box-info d-flex justify-content-between align-items-center">
            <h6 class="info-title">Kontak</h6>
            <div class="info-action-wrapper">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-kontak">Edit</button>
            </div>
          </div>
          <div class="body-box-info">
            <table>
              <tbody>
                <tr>
                  <td class="field-name">Nomor HP</td>
                  <td class="field-value">081327785905</td>
                </tr>
                <tr>
                  <td class="field-name">ID Profil Facebook</td>
                  <td class="field-value">921828128182</td>
                </tr>
                <tr>
                  <td class="field-name">Username Instagram</td>
                  <td class="field-value">riettsruff</td>
                </tr>
                <tr>
                  <td class="field-name">URL Profil Linkedin</td>
                  <td class="field-value">
                    <a href="https://riettsruff.com">https://riettsruff.com</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- PROFILE WRAPPER END -->

<!-- INFORMASI DASAR MODAL START -->
<div class="modal fade" id="modal-informasi-dasar" tabindex="-1" aria-hidden="true" th:fragment="modal-informasi-dasar">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-informasi-dasar">
        <div class="modal-header">
          <h5 class="modal-title">Edit Informasi Dasar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="informasi-dasar-id-user" value="USER-00099" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="informasi-dasar-nama">Nama</label>
              <input type="text" id="informasi-dasar-nama" class="form-control" data-label="Nama" data-format="PLAIN" data-required="required" />
            </div>
            <div class="form-group col-md-6">
              <label for="informasi-dasar-email">Email</label>
              <input type="text" id="informasi-dasar-email" class="form-control" data-label="Email" data-format="EMAIL" data-required="required" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="informasi-dasar-jenis-kelamin">Jenis Kelamin</label>
              <select id="informasi-dasar-jenis-kelamin" class="form-control" data-label="Jenis Kelamin" data-format="PLAIN" data-required="required">
                <option value="" disabled selected>- Pilih -</option>
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="informasi-dasar-tanggal-lahir">Tanggal Lahir</label>
              <input type="text" id="informasi-dasar-tanggal-lahir" class="form-control" data-label="Tanggal Lahir" data-format="PLAIN" data-required="required" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- INFORMASI DASAR MODAL END -->

<!-- PEKERJAAN SAAT INI MODAL START -->
<div class="modal fade" id="modal-pekerjaan-saat-ini" tabindex="-1" aria-hidden="true" th:fragment="modal-pekerjaan-saat-ini">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-pekerjaan-saat-ini">
        <div class="modal-header">
          <h5 class="modal-title">Edit Pekerjaan Saat Ini</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="pekerjaan-saat-ini-id-user" value="USER-00099" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="jabatan-pekerjaan-saat-ini">Jabatan</label>
              <input type="text" id="jabatan-pekerjaan-saat-ini" class="form-control" data-label="Jabatan" data-format="PLAIN" data-required="required" />
            </div>
            <div class="form-group col-md-6">
              <label for="instansi-pekerjaan-saat-ini">Instansi</label>
              <input type="text" id="instansi-pekerjaan-saat-ini" class="form-control" data-label="Instansi" data-format="PLAIN" data-required="required" />
            </div>
          </div>
          <div class="form-group">
            <label for="website-pekerjaan-saat-ini">Website</label>
            <input type="text" id="website-pekerjaan-saat-ini" class="form-control" data-label="Website" data-format="URL" data-required="required" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- PEKERJAAN SAAT INI MODAL END -->

<!-- PENDIDIKAN MODAL START -->
<div class="modal fade" id="modal-pendidikan" tabindex="-1" aria-hidden="true" th:fragment="modal-pendidikan">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-pendidikan">
        <div class="modal-header">
          <h5 class="modal-title">Edit Pendidikan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="pendidian-id-user" value="USER-00099" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="tingkat-pendidikan">Tingkat</label>
              <input type="text" id="tingkat-pendidikan" class="form-control" data-label="Tingkat" data-format="PLAIN" data-required="required" />
            </div>
            <div class="form-group col-md-6">
              <label for="instansi-pendidikan">Instansi</label>
              <select id="instansi-pendidikan" class="form-control" data-label="Instansi" data-format="PLAIN" data-required="required">
                <option value="" disabled selected>- Pilih -</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="jurusan-pendidikan">Jurusan</label>
              <select id="jurusan-pendidikan" class="form-control" data-label="Jurusan" data-format="PLAIN" data-required="required">
                <option value="" disabled selected>- Pilih -</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="status-pendidikan">Status</label>
              <select id="status-pendidikan" class="form-control" data-label="Status" data-format="PLAIN" data-required="required">
                <option value="" disabled selected>- Pilih -</option>
                <option value="Lulus">Lulus</option>
                <option value="Belum Lulus">Belum Lulus</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- PENDIDIKAN MODAL END -->

<!-- ALAMAT MODAL START -->
<div class="modal fade" id="modal-alamat" tabindex="-1" aria-hidden="true" th:fragment="modal-alamat">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-alamat">
        <div class="modal-header">
          <h5 class="modal-title">Edit Alamat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="alamat-id-user" value="USER-00099" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="alamat-provinsi">Provinsi</label>
              <input type="text" id="alamat-provinsi" class="form-control" data-label="Provinsi" data-format="PLAIN" data-required="required" />
            </div>
            <div class="form-group col-md-6">
              <label for="alamat-kota">Kota</label>
              <input type="text" id="alamat-kota" class="form-control" data-label="Kota" data-format="PLAIN" data-required="required" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="alamat-nama-jalan-1">Nama Jalan 1</label>
              <input type="text" id="alamat-nama-jalan-1" class="form-control" data-label="Nama Jalan 1" data-format="PLAIN" />
            </div>
            <div class="form-group col-md-6">
              <label for="alamat-nama-jalan-2">Nama Jalan 2</label>
              <input type="text" id="alamat-nama-jalan-2" class="form-control" data-label="Nama Jalan 2" data-format="PLAIN" />
            </div>
          </div>
          <div class="form-group">
            <label for="alamat-kode-pos">Kode Pos</label>
            <input type="text" id="alamat-kode-pos" class="form-control" data-label="Kode Pos" data-format="PLAIN" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ALAMAT MODAL END -->

<!-- KONTAK MODAL START -->
<div class="modal fade" id="modal-kontak" tabindex="-1" aria-hidden="true" th:fragment="modal-kontak">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-kontak">
        <div class="modal-header">
          <h5 class="modal-title">Edit Kontak</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="kontak-id-user" value="USER-00099" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="kontak-nomor-hp">Nomor HP</label>
              <input type="text" id="kontak-nomor-hp" class="form-control" data-label="Nomor HP" data-format="NUMERIC" data-required="required" />
            </div>
            <div class="form-group col-md-6">
              <label for="kontak-id-profil-facebook">ID Profil Facebook</label>
              <input type="text" id="kontak-id-profil-facebook" class="form-control" data-label="ID Profil Facebook" data-format="PLAIN" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="kontak-username-instagram">Username Instagram</label>
              <input type="text" id="kontak-username-instagram" class="form-control" data-label="Username Instagram" data-format="PLAIN" />
            </div>
            <div class="form-group col-md-6">
              <label for="kontak-url-profil-linkedin">URL Profil Linkedin</label>
              <input type="text" id="kontak-url-profil-linkedin" class="form-control" data-label="URL Profil Linkedin" data-format="URL" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit-button btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- KONTAK MODAL END -->