<div class="login-wrapper d-flex justify-content-center align-items-center" th:fragment="login-wrapper">
  <form class="login-form" method="POST" action="/login">
    <h3 class="form-title">Silahkan Login</h3>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required />
    </div>
    <div class="form-group forgot-password-form-group">
      <a href="/forgotpassword">Lupa Password?</a>
    </div>
    <div class="form-group login-button-form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="form-group register-link-form-group">
      <span>Belum punya akun? <a href="/register">Daftar Sekarang</a></span>
    </div>
  </form>
</div>