<div class="register-wrapper" th:fragment="register-wrapper">
  <form class="register-form">
    <h3 class="form-title">Silahkan Daftar</h3>
    <div class="sub-form-wrapper">
      <h6 class="sub-form-title">Informasi Dasar</h6>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-nama">Nama Lengkap</label>
          <input type="text" id="pendaftaran-nama" class="form-control" data-label="Nama Lengkap" data-format="PLAIN" data-required="required" />
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-email">Email</label>
          <input type="email" id="pendaftaran-email" class="form-control" data-label="Email" data-format="EMAIL" data-required="required" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-username">Username</label>
          <input type="text" id="pendaftaran-username" class="form-control" data-label="Username" data-format="PLAIN" data-required="required" />
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-password">Password</label>
          <input type="password" id="pendaftaran-password" class="form-control" data-label="Password" data-format="PLAIN" data-required="required" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-jenis-kelamin">Jenis Kelamin</label>
          <select id="pendaftaran-jenis-kelamin" class="form-control" data-label="Jenis Kelamin" data-format="PLAIN" data-required="required">
            <option value="" disabled selected>- Pilih -</option>
            <option value="Laki-laki">Laki-laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-tanggal-lahir">Tanggal Lahir</label>
          <input type="text" id="pendaftaran-tanggal-lahir" class="form-control" data-label="Tanggal Lahir" data-format="PLAIN" data-required="required" data-toggle="datepicker" autocomplete="off" />
        </div>
      </div>
    </div>
    <div class="sub-form-wrapper">
      <h6 class="sub-form-title">Pekerjaan Saat Ini</h6>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-jabatan-pekerjaan">Jabatan</label>
          <input type="text" id="pendaftaran-jabatan-pekerjaan" class="form-control" data-label="Jabatan Pekerjaan" data-format="PLAIN" data-required="required" />
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-instansi-pekerjaan">Instansi</label>
          <input type="text" id="pendaftaran-instansi-pekerjaan" class="form-control" data-label="Instansi Pekerjaan" data-format="PLAIN" data-required="required" />
        </div>
      </div>
    </div>
    <div class="sub-form-wrapper">
      <h6 class="sub-form-title">Pendidikan</h6>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-tingkat-pendidikan">Tingkat</label>
          <input type="text" id="pendaftaran-tingkat-pendidikan" class="form-control" data-label="Tingkat Pendidikan" data-format="PLAIN" data-required="required" />
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-instansi-pendidikan">Instansi</label>
          <select id="pendaftaran-instansi-pendidikan" class="form-control" data-label="Instansi Pendidikan" data-format="PLAIN" data-required="required">
            <option value="" disabled selected>- Pilih -</option>
            <option th:each="university : ${universities}" th:value="${university.name}" th:text="${university.name}"></option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pendaftaran-jurusan-pendidikan">Jurusan</label>
          <select id="pendaftaran-jurusan-pendidikan" class="form-control" data-label="Jurusan Pendidikan" data-format="PLAIN" data-required="required">
            <option value="" disabled selected>- Pilih -</option>
            <option th:each="major : ${majors}" th:value="${major.name}" th:text="${major.name}"></option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="pendaftaran-status-pendidikan">Status</label>
          <select id="pendaftaran-status-pendidikan" class="form-control" data-label="Status Pendidikan" data-format="PLAIN" data-required="required">
            <option value="" disabled selected>- Pilih -</option>
            <option value="Lulus">Lulus</option>
            <option value="Belum Lulus">Belum Lulus</option>
          </select>
        </div>
      </div>
    </div>
    <div class="sub-form-wrapper">
      <h6 class="sub-form-title">Kontak</h6>
      <div class="form-group">
        <label for="pendaftaran-nomor-hp-kontak">Nomor HP</label>
        <input type="text" id="pendaftaran-nomor-hp-kontak" class="form-control" data-label="Nomor HP" data-format="NUMERIC" />
      </div>
    </div>
    <div class="form-group register-button-form-group">
      <button type="button" class="submit-button btn btn-primary">Daftar</button>
    </div>
    <div class="form-group login-link-form-group">
      <span>Sudah punya akun? <a href="/login">Login Sekarang</a></span>
    </div>
  </form>
</div>